DJANGO_DEBUG=false
DJANGO_SECRET_KEY=replace-this
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
DJANGO_CSRF_TRUSTED_ORIGINS=http://127.0.0.1:8000
DJANGO_SESSION_COOKIE_SECURE=false
DJANGO_CSRF_COOKIE_SECURE=false

POSTGRES_DB=quantum_platform
POSTGRES_USER=quantum_platform
POSTGRES_PASSWORD=replace-this
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
POSTGRES_CONN_MAX_AGE=60
